<!DOCTYPE html>
<html>
<head>
    <title>Cena zlata</title>
</head>
<body>
<h1>Aktuální cena zlata</h1>
<p>Cena: {{ gold_price }} USD</p>
<p>Aktuální čas: {{ gold_time }}</p>
<h1>Aktuální cena microsoftu</h1>
<p>Cena: {{ microsoft_price }} USD</p>
<p>Aktuální čas: {{ microsoft_time }}</p>
</body>
</html>